.content_container p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  line-height: 26px;
  text-align: justify;
}
.content_container a:hover {
  border-bottom: 1px solid black;
}
.content_container .bullet_point {
  list-style-type: disc;
}
.content_container .order_list {
  list-style-type: decimal;
}
.content_container p + .bullet_point {
  padding: 0 40px;
}
.content_container p + .order_list {
  padding: 0 40px;
}

.style1 {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000;
}

.unorder-list {
  list-style-type: disc;
}
.order-list {
  list-style-type: decimal;
}
.order-list li::marker {
  font-weight: bold;
  color: #003366;
  font-size: 18px;
}

.table_border td,
.table_border th {
  border: 2px solid black;
  text-align: center;
}
.order-list_subheading {
  list-style-type: decimal;
}
.order-list_subheading li::marker {
  font-weight: bold;
  color: #003366;
  font-size: 18px;
}
.order-list_subheading li {
  padding-left: 10px;
}
